@import url('https://fonts.googleapis.com/css?family=Nunito:700');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: black;
    background-color: #f1f1ec;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #af86a1;
    text-decoration: underline;
    text-decoration-color: #af86a1;
}

#wrapper {
    width: 985px;
    margin: auto;
}

#header {
    height: 240px;
    padding: 0 20px 0 0;
    background-image: url('header.png');
    background-color: #f1f1ec;
    text-align: right;
    font-size: 13px;
}

#navbar {
    padding-top: 10px;
    color: silver;
}

#navbar a {
    margin-right: 5px;
    margin-left: 5px;
}

#divblock {
    height: 38px;
    padding-left: 20px;
    background: linear-gradient(to right, #af86a1, #f1f1ec);
    font-weight: bold;
    color: #321128;
    line-height: 38px;
}

#divblock a {
    color: #321128;
    text-decoration: none;
}

#divblock a:hover {
    color: #321128;
    text-decoration: underline;
    text-decoration-color: #321128;
}

#agrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 35px 10px 15px 10px;
    background-color: #f1f1ec;
}

#agridblock {
    margin: auto;
    padding-bottom: 25px;
}

#agridblock img {
    height: 260px;
    width: auto;
    margin-bottom: 2px;
}

#agridblock cite {
    font-style: normal;
    font-weight: bold;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px 40px 40px 40px;
    background-color: #f1f1ec;
}

#gridblock cite {
    font-style: normal;
    font-size: 36px;
    color: #321128;
}

#gridblock p {
    line-height: 22px;
}

#gridblock img {
    float: right;
    height: 475px;
    width: auto;
}

#footer {
    height: 200px;
    margin-top: 10px;
    padding: 55px 105px 0px 0px;
    background: url('img/lmaobox.png') no-repeat right top;

    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

#lmaotext {
    float: right;
    color: black;
}
