html {
  background: rgb(235, 231, 217);
}
body {
  font-family: "Old Standard TT", serif;
  font-size: 2.3em;
  font-weight: 700;

  max-width: 675px;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
}
h1 {
  font-family: "UnifrakturMaguntia", cursive;
  color: rgb(49, 140, 150);
  text-shadow: -2px 2px 0px rgb(41, 93, 99);
}
a {
  color: rgb(49, 140, 150);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.icon {
  margin-right: 0.3em;

  border: 2px ridge rgb(41, 93, 99);
}
#headimg {
  max-width: 15%;
}
