html {
  background: #e8e8e8;
}

body {
  font-family: sans-serif;
  font-size: 13px;
  max-width: 850px;
  margin: auto;

  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4 { margin-top: 0; }

#wrapper {
  padding: 5px 5px 30px 5px;
}

#header a {
  margin-right: 5px;
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 55px;
}

.albums-grid img {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
}

.album-page-grid {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 100px;
	
	line-height: 21px;
}

.album-page-grid img {
	width: 100%;
  height: auto;
}

.album-page-grid h1 {
	font-weight: normal;
	font-size: 26px;
}